/* general html reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* setting custom font */

@font-face {
    font-family: "nuito";
    src: url(/fonts/nunito/Nunito-Light.ttf);
}


/* making body full view hight other flex stuff */

body {
    font-family: 'nuito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 100vh;
    background-size: cover;
}


/* adding overlay to background */

.bg-overlay:before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}


/* main section font color and some padding */

section {
    color: white;
    padding-bottom: 5%;
}


/* setting z index, without this overlay will be applied to font */

section>h1,
#time {
    position: relative;
}


/* some customisation to time font */

#time {
    font-size: 8rem;
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media (max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}